body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0a0000;
}

.status {
    background-color: hsl(108, 93%, 11%);
    padding: 10px;
    margin-bottom: 20px;
    color: hsl(58, 100%, 50%);
    border: 1px solid hsl(58, 100%, 50%);
    border-radius: 5px;
}

.status {
    min-height: 75px;
}

.status p {
    margin: 0;
}

.status button {
    margin-right: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: hsl(28, 100%, 20%);

}

.description {
    background-color: hsl(0, 5%, 11%);
    color: hsl(58, 100%, 50%); 
    padding: 20px;
    border: 1px solid hsl(58, 100%, 50%);
    border-radius: 5px;
    min-height: 100px;
}

#playerNameInput {
    color: hsl(58, 100%, 50%);
    background-color: hsl(0, 0%, 0%);
    border-color: hsl(58, 100%, 50%);
    border-radius: 5px;
}

#submitName {
    background-color: hsl(108, 93%, 11%);
    color: hsl(58, 100%, 50%);
    border-color: hsl(58, 100%, 50%);
    border-radius: 3px;
}
#playerNameInput::placeholder {
    color: hsl(58, 100%, 50%);
}

button {
    font-family: Arial, sans-serif;
}
.inventory-container {
    border: 1px solid hsl(58, 100%, 50%);
    background-color: hsl(0, 0%, 0%);
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}
